<div id="header">
    <div id="logo">
        <img src="http://img01.deviantart.net/0e54/i/2015/104/2/3/mountain_drawing_study_by_lethalchris-d8ppnx2.jpg" />
    </div>
    <div id="banner">
        <img src="http://cdn.fiveten.com/media/catalog/category/banner-outdoor-hiking-category_1.jpg" />
    </div>
    <div id="text">
        Unique Hiking
        <div id="desc">
            Explore mountains however you chose!
        </div>
    </div>
</div>
<div id="mainMenu">
    <div class="menuitem firstitem">
        Home
    </div>
    <div class="menuitem">
        Tours
    </div>
    <div class="menuitem">
        Our Tour Guides
    </div>
    <div class="menuitem">
        About us
    </div>
    <div class="menuitem">
        Contact
    </div>
</div>