<div id="content">
    <div class="cnt cnt1">
        Plan your own tour!
        <div class="cnt description">
            You don't have to chose a preplaned tour, you can create your own in colaboration with our tour guides.
        </div>
    </div>
    <div class="cnt">
        Talk to our guides!
        <div class="cnt description">
            When you log in to our website you can contact our guides who can help you decide or give you some advice.
        </div>
    </div>
    <div class="cnt">
        Get special discount!
        <div class="cnt description">
            If you love hiking and if you are competitive you can get discount for hiking gear which is provided by our sponsors.
        </div>
    </div>
    <div class="cnt">
        Enjoy hiking anytime!
        <div class="cnt description">
            Some of locations are available through whole year. You can learn more from our guides.
        </div>
    </div>
    <div id="gallery">
        Check out our gallery:
    </div>
    <div class="image">
        <a target="blank" href="https://backroads-web.s3.amazonaws.com/images/search/thumbnail/french-italian-alps-walking-hiking-tour.jpg">
            <img src="https://backroads-web.s3.amazonaws.com/images/search/thumbnail/french-italian-alps-walking-hiking-tour.jpg" alt="Fjords" width="300" height="200">
        </a>
    </div>

    <div class="image">
        <a target="blank" href="https://fantasticwave.files.wordpress.com/2012/09/jae-hyun-energy-picture.jpg">
            <img src="https://fantasticwave.files.wordpress.com/2012/09/jae-hyun-energy-picture.jpg" alt="Northern Lights" width="300" height="200">
        </a>
    </div>

    <div class="image">
        <a target="blank" href="http://www.greenland.com/media/4913/hiking-along-the-edge-near-tiniteqilaaq-visit-greenland.jpg?width=1920&height=1280&mode=crop&format=jpg&quality=95">
            <img src="http://www.greenland.com/media/4913/hiking-along-the-edge-near-tiniteqilaaq-visit-greenland.jpg?width=1920&height=1280&mode=crop&format=jpg&quality=95" alt="Forest" width="300" height="200">
        </a>
    </div>

</div>